<div class="row no-gutters">
  

  <div class="card col-12 justify-content-left d-flex"
    >
    <div>
      <div class="col-12">
        <h1 class="recommended">Home</h1>
      </div>
      <div class="card-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non faucibus enim. In hac habitasse platea dictumst. Vestibulum condimentum ut lacus quis ornare. Pellentesque massa tortor, tincidunt at pretium nec, porta eget purus. Aliquam at sem ut massa pretium ultrices. Duis maximus turpis non posuere maximus. Duis et risus ac lacus fermentum rutrum.
          </p>
          <p>
          Vestibulum ut sapien sapien. Morbi at iaculis nunc. Vivamus bibendum metus vitae lacus tristique, ac porta ante varius. Sed pellentesque feugiat dolor, ac mollis ipsum euismod ut. Praesent cursus sed sem non sodales. Morbi convallis lobortis arcu id sagittis. Nunc scelerisque ultrices sem sed posuere. Ut eu quam a tortor euismod viverra. Integer consectetur erat vitae egestas finibus. Pellentesque sollicitudin in ex eget elementum. Donec id sapien dignissim, ullamcorper nulla at, congue enim.
          </p>
    </div>
  </div>
</div>
