<div class="row no-gutters">
  

  <div class="card col-12 justify-content-left d-flex"
    >
    <div>
      <div class="col-12">
        <h1 class="recommended">Home</h1>
      </div>
      <div class="card-content">
        
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem diam, maximus in lobortis vel, eleifend id lorem. Vestibulum at iaculis lorem. Duis quis lorem sollicitudin mi sollicitudin feugiat. Aliquam id sem at nisl rhoncus gravida. Ut in velit dolor. Praesent consequat purus eget gravida malesuada. Donec accumsan eget tellus at feugiat.
          </p>
          <p>
          In eu orci mauris. Suspendisse nisi mi, faucibus et blandit vel, accumsan ut ligula. In hac habitasse platea dictumst. Integer et leo a nunc scelerisque mattis. Donec pellentesque quam nisl. Fusce dapibus mauris eget eros venenatis tempor. Aliquam sem neque, malesuada sit amet dui sed, ultrices laoreet massa. Aliquam non finibus augue. Phasellus ut mattis diam. Quisque pulvinar est ac aliquam tincidunt. Fusce quis imperdiet augue, ac auctor quam. Praesent finibus mattis pharetra.
          </p>
          <p>
          Fusce facilisis ante lorem, vel facilisis nibh placerat et. Vestibulum velit lacus, molestie at malesuada luctus, aliquet ac arcu. Praesent fermentum sit amet quam nec sodales. Cras at metus eget arcu mattis dapibus. Nam hendrerit consectetur tellus, semper fringilla est efficitur vel. Cras volutpat in justo vitae pellentesque. Praesent fermentum eu ex eu venenatis. Donec sed ligula vitae tellus commodo tempor. Vivamus ac enim rutrum, suscipit justo non, dapibus diam. Nunc mattis, felis nec blandit consectetur, tellus est interdum lorem, et porttitor dolor odio a nisl. Nulla facilisi. Phasellus gravida tempor sapien, sit amet vestibulum massa. Quisque at arcu facilisis, consectetur felis eu, congue magna. Quisque lobortis ex et sem laoreet eleifend.
          </p>
          <p>
          Donec dapibus pulvinar lorem, ac feugiat ante mattis nec. Donec sollicitudin elit et velit condimentum, pretium feugiat nisl tincidunt. Duis sagittis elementum massa, vitae egestas nisl semper eget. Fusce tellus dui, facilisis nec tincidunt in, condimentum non metus. Pellentesque tincidunt et metus et varius. Fusce eget vulputate leo. Suspendisse nec viverra nunc.
          </p>

    </div>
  </div>
</div>
